// Fonts
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,500;0,700;1,500&family=Poppins:wght@300;500;700&display=swap");

// Variables
@import "variables";

//Bootstrap
// required bootstrap components
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//additional bootstrap components
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

//other imports
@import "~locomotive-scroll/dist/locomotive-scroll";

//imports
@import "components/cursor";
@import "components/navbar";
@import "components/footer";
@import "components/swupjs";
@import "utilities";
@import "buttons";
// @import "animations";

//main rules
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $primary-color-dark;
    color: $font-color-secondary;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;

    color: $font-color-primary;
    font-family: $font-family-primary !important;
    background-color: $body-bg !important;

    overflow-x: hidden;
}

h1 {
    font-weight: 600;
    font-size: clamp(2.25rem, 7vw, 8rem);
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: clamp(2rem, 7vw, 7.5rem);
    font-family: $font-family-primary;
    // color: $font-color-tertiary;
}

h3 {
    font-size: clamp(1.3rem, 2.5vw, 2.25rem);
    font-weight: 600;

    line-height: 1.25em;
}

h4 {
    font-size: clamp(0.75rem, 1.8vw, 0.85rem);
    font-weight: 500;

    color: $font-color-fifth;
}

p {
    font-size: clamp(0.75rem, 1.75vw, 1rem);
}

hr {
    display: block;
    border: 1px solid $font-color-primary;
    overflow: hidden;
    width: clamp(3em, 5vw, 7em);
    float: left;
}

a {
    color: $font-color-primary;
    text-decoration: none;
}

#page_top {
    position: absolute;
    top: -100%;
    left: 0;
    transform: translate(-50% -50%);
}

// html.has-scroll-smooth {
//     backface-visibility: hidden;
//     transform: translateZ(0);
// }

// [data-load-container] {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 100vw;
// }

@media screen and (max-width: $lg-screen-size) {
    h1 {
        font-size: clamp(2.1rem, 5vw, 5rem);
    }
}
