@import "variables";
#landing_page {
    margin-top: 20vh;

    .container {
        position: relative;
    }

    h1 {
        position: absolute;
        top: -500px;
        left: 0%;
        // transform: translate(-50%, -50%);
        width: 100%;
        z-index: -999;
    }

    .h2-1 {
        position: absolute;
        top: -300px;
        left: 250px;
    }
    .h2-2 {
        position: absolute;
        top: -400px;
        right: 250px;
    }

    .hero-wrapper {
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }

    .hero {
        height: 50vh;
        width: 100%;
        position: relative;
    }

    .image-landing {
        height: 100%;
        width: 100%;

        object-fit: cover;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $body-bg;
    z-index: -10;
}

#about_us {
    position: relative;
    .bg_text:nth-of-type(1) {
        position: absolute;

        transform: translate(-50% -50%);

        top: -3%;
        left: -5%;

        z-index: -1;
    }
    .bg_text:nth-of-type(2) {
        position: absolute;

        transform: translate(-50% -50%);

        top: 35%;
        left: 10%;

        z-index: -1;
    }

    ul {
        margin-left: -20px;
    }
}

#build_end {
    h3 {
        font-size: clamp(2.5rem, 3.35vw, 8rem);
        margin-bottom: 2vh;
    }
    a {
        color: $secondary-color !important;
        font-size: 3rem;
    }
}

#app {
}

#about_us2 {
    position: relative;
    .bg_text:nth-of-type(1) {
        position: absolute;

        transform: translate(-50% -50%);

        top: -100%;
        left: -5%;

        z-index: -1;
    }
    .bg_text:nth-of-type(2) {
        position: absolute;

        transform: translate(-50% -50%);

        top: 70%;
        left: 70%;

        z-index: -1;
    }
    h3 {
        font-size: clamp(2.5rem, 3.35vw, 8rem);
        margin-bottom: 2vh;
    }
}

#about_us3 {
    position: relative;
    .bg_text:nth-of-type(1) {
        position: absolute;

        transform: translate(-50% -50%);

        top: 75%;
        left: -10%;

        z-index: -1;
    }
    .bg_text:nth-of-type(2) {
        position: absolute;

        transform: translate(-50% -50%);

        top: 90%;
        left: 50%;

        z-index: -1;
    }
}

#sell {
    h3 {
        font-size: clamp(3rem, 6vw, 10rem);
    }
}
