@import "typography";
.container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.container-md {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.container-sm {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

.section-header {
    font-size: clamp(1.3rem, 2vw, 1.9rem);
}

.fluid-margin {
    padding-left: clamp(1.5em, 7.5vw, 18em) !important;
}

.card {
    background-color: $body-bg-color-lighter;
    width: clamp(5em, 25vw, 35em);
    border-radius: 1em;
    padding: 1.5em 3.5em;
    box-shadow: 5px 10px #0e0e0ea9;
}

.card-header {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
}

.text-highlight {
    color: $primary-color;
}

.border-primary {
    border-bottom: 1px solid $primary-color !important;
}

.mr-5 {
    margin-right: 40px;
}

.section-divider {
    display: block;

    width: 90%;

    float: none;

    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;

    border: 0.5px solid rgba(126, 126, 126, 0.25);
    overflow: hidden;
}

.underline {
    text-decoration: none;
    display: inline-block;
    position: relative;
    // color: $font-color-tertiary;

    transition: all 0.5s;

    cursor: pointer;
}

.underline:hover {
    color: $primary-color;
}

.underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -0.1em;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: $font-color-primary;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}

.underline:hover:after {
    width: 90%;
    left: 0;
}

.underline_light {
    text-decoration: none;
    display: inline-block;
    position: relative;
    // color: $font-color-tertiary;

    transition: all 0.5s;

    cursor: pointer;
}

.underline_light:hover {
    // color: $font-color-secondary;
}

.underline_light:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -0.05em;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: $font-color-secondary;
    transition: width 0.3s ease 0s, left 0.3s ease 0s, background 0.15s ease 0s;
    width: 100%;
}

.underline_light:hover:after {
    width: 90%;
    left: 0;
    background: $secondary-color !important;
}

.headerline::before {
    display: block;

    content: "";

    width: 25px;

    border-top: 3px solid $primary-color;

    padding-top: 0.5rem;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-grid-center {
    display: grid;
    place-items: center;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.vh-50 {
    height: 50vh;
}

.vh-75 {
    height: 75vh;
}

.vh-85 {
    height: 85vh;
}

.vh-100 {
    height: 100vh;
}

.scroll-blocker {
    // height: 80px;
}

.arrow-right-icon {
    fill: $primary-color;
    pointer-events: none;
}

// .arrow-wrapper {
//     width: clamp(250px, 10vw, 350px) !important;
// }

.text-alert {
    color: #912d2d;
}

.cursor-pointer {
    cursor: pointer;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.section-mb {
    padding-bottom: clamp(75px, 8.5vw, 150px);
}

.section-mt {
    padding-top: clamp(75px, 8.5vw, 150px);
}

.mb-10 {
    margin-bottom: 100px;
}

.mt-10 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.p-75 {
    padding: 75px;
}

.bg-darker {
    background-color: $body-bg-color-darker;
}

.blend-soft-light {
    mix-blend-mode: soft-light; //hard-light
}
.blend-screen {
    mix-blend-mode: screen; //hard-light
}

.row {
    padding: 0px !important;
    margin: 0px !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

@media (max-width: $md-screen-size) {
    .section-divider {
        margin-top: 75px;
        margin-bottom: 50px;
    }

    .section-mb {
        padding-bottom: clamp(30px, 10vw, 75px) !important;
    }
}

@media (max-width: $sm-screen-size) {
    .container-text-sm-center {
        text-align: center;
    }

    .arrow-wrapper {
        display: none !important;
    }

    .sm-d-none {
        display: none !important;
    }
}
