// Body
$body-bg: #f8f3f1;
$body-bg-color-lighter: #fdf9f8;
$body-bg-color-darker: #e7e1de;

// Typography
$font-family-primary: "Cormorant";
$font-family-secondary: "Poppins";
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$font-color-primary: #36393b;
$font-color-secondary: #f8f3f1;
$font-color-tertiary: #bebebe;
$font-color-fourth: #707070;

$primary-color: #00ff80;
$secondary-color: #2c8cb3;

$primary-color-dark: #e9d2a2;
$primary-color-light: #6bff97;

$xxl-screen-size: 1400px;
$xl-screen-size: 1200px;
$lg-screen-size: 992px;
$md-screen-size: 768px;
$sm-screen-size: 576px;
$xs-screen-size: 400px;
