.transition-fade {
    transform: translateX(0);
    transition: transform 0.5s ease 0s;
    // animation: isDone 1s;
}

html.is-animating .transition-fade {
    transform: translateX(100%);
    transition: transform 0.5s ease 0s;
    // animation: isAnimating 1s;
}

html.is-leaving .transition-fade {
    transform: translateX(-100%);
    transition: transform 0.5s ease 0s;
    // animation: isLeaving 1s;
}

.swup-progress-bar {
    height: 4px;
    background-color: #1373c6;
}

@keyframes isLeaving {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes isAnimating {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes isDone {
    0%,
    100% {
        transform: translateX(0);
    }
}
